doctype html
html
  body(style='margin: 0;font-family: Tahoma;font-size: 1.2em;background-color: #ECF0F1;')
    header.text-center(style='padding: 1em;background-color: #34495E;margin-bottom: 1em;text-align: center;')
      .logo(style='max-width: 100%;')
        h1(style='font-family: Palatino;font-size: 1.5em;color: #fff;') Discussion.im
        //- img(src=logo)
    .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;')
      h1(style='font-family: Palatino;font-size: 1.5em;') Hi #{name},
      p As requested, your password has been reset reset. Welcome back to real-time and open discusion platform. Keep discussing.
      p.text-small.margin-2(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;') If you didn't request this change please
      p.text-small(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;')
        a(href='mailto:' + returnEmail + '?subject=I did not reset my password&body=Someone unauthorized sent this reset password request.', style='color: #2980B9;') let us know
