doctype html
html
  body(style='margin: 0;font-family: Tahoma;font-size: 1.2em;background-color: #ECF0F1;')
    header.text-center(style='padding: 1em;background-color: #34495E;margin-bottom: 1em;text-align: center;')
      .logo(style='max-width: 100%;')
        h1(style='font-family: Palatino;font-size: 1.5em;color: #fff;') Discussion.im
        //- img(src=logo)
    .body(style='padding: 1em;margin-right: auto;margin-left: auto;max-width: 500px;color: #2C3E50;')
      h1(style='font-family: Palatino;font-size: 1.5em;') Hi #{name},
      p We got a request to reset your password.
      a.reset-btn(href=hashLink, style='color: #2980B9;display: block;text-align: center;text-decoration: none;padding: 0.5em;font-size: 1.2em;border: 5px solid #2980B9;border-radius: 3px;margin: 1em;margin-right: auto;margin-left: auto;') Reset Password
      p If you ignore this message your password won't be changed.
      p.text-small.margin-2(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;margin-top: 2em;') If you didn't request this change please
      p.text-small(style='color: grey;font-size: 0.9em;text-align: center;margin-bottom: 0;')
        a(href='mailto:' + returnEmail + '?subject=I did not reset my password&body=Someone unauthorized sent this reset password request.', style='color: #2980B9;') let us know
